#!/bin/bash
[Unit]
Description=SMA Trader Service
After=network.target

[Service]
User=user
WorkingDirectory=/etc/systemd/system/sma-trader
ExecStart=/usr/bin/python3 /etc/systemd/system/sma-trader/sma-trader-app.py

[Install]
WantedBy=multi-user.target
