[Unit]
Description=SMA Trader Service
After=network.target

[Service]
ExecStart=/etc/systemd/system/sma-trader-app.py

[Install]
WantedBy=multi-user.target